.project-card {
  background-color: #d1d5db;
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: transform 0.3s; /* Smooth scaling on hover */
  margin: 20px; /* Margin around the card */
}
.project-links {
  display: flex;
  flex-direction: row; /* Align links in a row */
  gap: 10px; /* Space between links */
  margin-top: 10px; /* Space above the links */
}
.project-link {
  background-color: var(--color-primary); /* Primary color for the link */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px; /* Rounded corners for the link */
}
