.project-card {
  background-color: #ffffff;
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.3s; /* Smooth scaling on hover */
  margin: 20px; /* Margin around the card */
}
.project-description {
  text-align: left;
  font-size: 20px; /* Font size for the description */
  color: #374151; /* Text color */
}
.project-links {
  display: flex;
  flex-direction: row; /* Align links in a row */
  gap: 10px; /* Space between links */
  margin-top: 10px; /* Space above the links */
}
.project-link {
  background-color: var(--color-primary); /* Primary color for the link */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px; /* Rounded corners for the link */
}

.project-link:hover {
  background-color: var(--color-primary-hover); /* Change color on hover */
  color: white; /* Ensure text remains white on hover */
  transition: background-color 0.3s; /* Smooth transition for color change */
}
.project-title {
  font-size: 24px; /* Font size for the title */
  font-weight: bold; /* Bold text */
  color: var(--color-primary); /* Text color */
  margin-bottom: 10px; /* Space below the title */
}

.project-image {
  width: 100%; /* Make the image take the full width of its container */
  height: 35vh; /* Maintain aspect ratio */
  border-radius: 10px; /* Add rounded corners */
  object-fit: cover; /* Ensure the image covers the container without distortion */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin-bottom: 15px; /* Add spacing below the image */
}
